@model IEnumerable<User>?

<link rel="stylesheet" href="~/css/search.css" />
<div class="query_body">
    <form method="post" asp-action="Search" asp-controller="Users">
        <input id="searchField" class="form-control mb-1" type="text" name="query" />
        <button id="submit" type="submit" style="display:none"></button>
    </form>

    <div class="user_list">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <a asp-controller="Users" asp-action="Index" asp-route-username="@item.UserName">
                    <div class="user">
                        @if (string.IsNullOrEmpty(item.ImageName))
                        {
                            <img class="user_image" src="~/icons/user.png" />
                        }
                        else
                        {
                            <img class="user_image" src="/Image/@item.UserName" />
                        }

                        <p class="username">@item.UserName</p>
                    </div>
                </a>
            }
        }
    </div>
</div>


@section Scripts{
    <script>
        var input = document.getElementById("searchField");
        $('#searchField').on('change', function () {
            $('#submit').trigger('click');
        })
    </script>
}
